{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
<script type="text/javascript">

    $(document).ready(function () {

        var selector = "#sg-datatables-{{ sg_datatables_view.uniqueName }}";
        var oTable;

        var defaults = {
        };

        var language = {
            {% include '@SgDatatables/datatable/language.html.twig' %}
        };

        var ajax = {
            {% include '@SgDatatables/datatable/ajax.html.twig' %}
        };

        var options = {
            {% include '@SgDatatables/datatable/options.html.twig' %}
        };

        var features = {
            {% include '@SgDatatables/datatable/features.html.twig' %}
        };

        var callbacks = {
            {% include '@SgDatatables/datatable/callbacks.html.twig' %}
        };

        var extensions = {
            {% include '@SgDatatables/datatable/extensions.html.twig' %}
        };

        var columns = {
            {% include '@SgDatatables/datatable/columns.html.twig' %}
        };

        var initialSearch = {
            {% include '@SgDatatables/datatable/initial_search.html.twig' %}
        };

        function postCreateDatatable(pipeline) {
            {% for column in sg_datatables_view.columnBuilder.columns %}
                {% if column.sentInResponse and column.renderPostCreateDatatableJsContent is not null %}
                    {{ column.renderPostCreateDatatableJsContent|raw }}
                {% endif %}
            {% endfor %}
        }

        function createDatatable() {
            $.extend(defaults, language);
            $.extend(defaults, ajax);
            $.extend(defaults, options);
            $.extend(defaults, features);
            $.extend(defaults, callbacks);
            $.extend(defaults, extensions);
            $.extend(defaults, columns);
            $.extend(defaults, initialSearch);

            if (!$.fn.dataTable.isDataTable(selector)) {
                $(selector)
                    {% include '@SgDatatables/datatable/events.html.twig' %}
                ;
            
                oTable = $(selector)
                    .DataTable(defaults)
                        .on('draw.dt', function() { postCreateDatatable({{ sg_datatables_view.ajax.pipeline}}) })
                    ;

                {% if true == sg_datatables_view.options.individualFiltering %}
                    {% include '@SgDatatables/datatable/search.js.twig' %}
                {% endif %}
            }
        }

        createDatatable();

        {% if sg_datatables_view.columnBuilder.uniqueColumn('multiselect') is not null %}
            {{ sg_datatables_render_multiselect_actions( sg_datatables_view.uniqueName, sg_datatables_view.columnBuilder.uniqueColumn('multiselect'), sg_datatables_view.ajax.pipeline) }}
        {% endif %}
    });

</script>
